NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8180
NEXT_PUBLIC_KEYCLOAK_REALM=pkt
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=web
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
